.pika{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: -6.92%;
}

.home {
    position: absolute;
    left: 0.07%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: linear-gradient(
        180deg, 
        #F5DB13 0%, 
        #F2B807 100%
        );
}

.homeHeader {
    position: absolute;
    left: 0.19%;
    right: 1.74%;
    top: 0%;
    bottom: 54.76%;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 84px;
    letter-spacing: 4px;
    color: #000000;
}