.footer {
    background-color: #192427;

}


.footer2 {
    position: absolute;
    left: 0%;
    right: 58.84%;
    top: 92%;
    color: #212121;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
}

.footer3 {
    position: absolute;
    width: 91px;
    right: 4.84%;
    top: 92%;
    color: #212121;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
}