.footer {
    background-color: #192427;
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}


.footer2 {
    position: absolute;
    left: 0%;
    right: 58.84%;
    top: 4.55%;
    bottom: 0%;
    color: #212121;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
}

.footer3 {
    position: absolute;
    width: 91px;
    right: 4.84%;
    top: 4.55%;
    bottom: 0%;
    color: #212121;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
}